## Perceptron y operaciones lógicas

Daniel Conrado Monroy Madrid - 16012674

In [1]:
import numpy as np

In [33]:
import pandas as pd

In [2]:
def activacion(y):  #función de activación
    if y >= 0:
        return 1
    else:
        return 0

In [6]:
def perceptron(x,W,b):
    y = np.dot(W, x) + b
    y_hat = activacion(y)
    
    return y_hat

## Operación NOT

In [7]:
def NOT(x,W,b):
    return perceptron(x,W,b)

In [34]:
not0 = NOT(0,-1,0.5) 
not1 = NOT(1,-1,0.5)

In [48]:
NOT_df = pd.DataFrame({'Input':['NOT 0','NOT 1'],'Output':[not0,not1]})
NOT_df

   Input  Output
0  NOT 0       1
1  NOT 1       0

## Operación AND

In [10]:
def AND(x,w1,w2,b):
    W = np.array([w1,w2])
    return perceptron(x,W,b)

In [23]:
and11 = AND(np.array([1,1]),1,1,-1.5)
and10 = AND(np.array([1,0]),1,1,-1.5)
and01 = AND(np.array([0,1]),1,1,-1.5)
and00 = AND(np.array([0,0]),1,1,-1.5)

In [26]:
AND_df = pd.DataFrame({'Input':['1 and 1','1 and 0','0 and 1','0 and 0'],'Output':[and11,and10,and01,and00]})
AND_df

     Input  Output
0  1 and 1       1
1  1 and 0       0
2  0 and 1       0
3  0 and 0       0

## Operación OR

In [27]:
def OR(x,w1,w2,b):
    W = np.array([w1,w2])
    return perceptron(x,W,b)

In [31]:
or11 = OR(np.array([1,1]),1,1,-0.5)
or10 = OR(np.array([1,0]),1,1,-0.5)
or01 = OR(np.array([0,1]),1,1,-0.5)
or00 = OR(np.array([0,0]),1,1,-0.5)

In [32]:
OR_df = pd.DataFrame({'Input':['1 or 1','1 or 0','0 or 1','0 or 0'],'Output':[or11,or10,or01,or00]})
OR_df

    Input  Output
0  1 or 1       1
1  1 or 0       1
2  0 or 1       1
3  0 or 0       0

## Operación XOR

In [41]:
def XOR(x):
    bloque1 = AND(x,1,1,-1.5)
    bloque2 = NOT(bloque1,-1,0.5)
    bloque3 = OR(x,1,1,-0.5)
    x_output = np.array([bloque2,bloque3])
    output = AND(x_output,1,1,-1.5)
    
    return output

In [46]:
xor11 = XOR(np.array([1,1]))
xor10 = XOR(np.array([1,0]))
xor01 = XOR(np.array([0,1]))
xor00 = XOR(np.array([0,0]))

In [47]:
XOR_df = pd.DataFrame({'Input':['1 xor 1','1 xor 0','0 xor 1','0 xor 0'],'Output':[xor11,xor10,xor01,xor00]})
XOR_df

     Input  Output
0  1 xor 1       0
1  1 xor 0       1
2  0 xor 1       1
3  0 xor 0       0